<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CodejavadocBuilder"
         name="Code to JavaDoc Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.github.podal.codejavadoc.eclipse.CodejavadocBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CodejavadocNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.github.podal.codejavadoc.eclipse.Codejavadoc">
         </run>
      </runtime>
      <builder
            id="com.github.podal.codejavadoc.CodejavadocBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="com.github.podal.codejavadoc.contribution1">
         <action
               label="Add/Remove Code to JavaDoc"
               class="com.github.podal.codejavadoc.eclipse.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.github.podal.codejavadoc.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
